<h1>DODAJ WPIS</h1>
<div class="lista">
    <div class="lista__klucz">
        <ul>
            <li>Marka</li>
            <li>Model</li>
            <li>Numer rejestracyjny</li>
            <li>Ubezpieczyciel</li>
            <li>Termin 1</li>
            <li>Termin 2</li>
        </ul>
    </div>
    <div class="lista__dane">
        <ul>
            <li><input type="text" value=""></li>
            <li><input type="text" value=""></li>
            <li><input type="text" value=""></li>
            <li><input type="text" value=""></li>
            <li><input type="date" value=""></li>
            <li><input type="date" value=""></li>
        </ul>
    </div>
</div>
<a class="sidebar__button button--def">Dodaj Wpis</a>