<h1>DODAJ REJESTR</h1>
<div class="lista">
    <div class="lista__klucz">
        <ul>
            <li>Nazwa</li>
            <li>Typ</li>
        </ul>
    </div>
    <div class="lista__dane">
        <ul>
            <li><input type="text" value=""></li>
            <li><select>
                <option>Samochody</option>
                <option>Ubezpieczenia Lorem Ipsum</option>
                <option>Polisy Krasnoludki WKS</option>
            </select>
            </li>
        </ul>
    </div>
</div>
<a class="sidebar__button button--rej">Dodaj Rejestr</a>
